packages:
  yum:
    gcc: []
    make: []
    libtool: []
    autoconf: []
    automake: []
    uuid: []
    uuid-devel: []
    openssl-devel: []
    libxml2: []
    libxml2-devel: []
    git: []

sources:
  /home/ec2-user: http://download.zeromq.org/zeromq-4.0.4.tar.gz

commands:
  01-zeromq:
    command: ./configure
    cwd: /home/ec2-user/zeromq-4.0.4
  02-zeromq:
    command: make
    cwd: /home/ec2-user/zeromq-4.0.4
  03-zeromq:
    command: make install
    cwd: /home/ec2-user/zeromq-4.0.4
  04-zeromq:
    command: echo /usr/local/lib > /etc/ld.so.conf.d/local.conf
  05-zeromq:
    command: ldconfig
